* {
  font-family: "Roboto";
  margin: 0px;
  padding: 0px;
}

:root {
  --background-color-1: #b1ddc4;
  --white: #fff;
  --dark-green: #006633;
  --black: #0000;
  --gray: #bfbfbf;
  --green: #55ae3a;
}

body {
  color: var(--dark-green);
  background-color: var(--background-color-1);
  /*height: 1000px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  width: 294px;
  height: 611px;
}

h1 {
  margin-top: 60px;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
}

.second-text {
  margin-top: 8px;
  font-size: 17px;
  font-weight: 400;
}

button {
  cursor: pointer;
}
button:hover {
  background-color: var(--green);
}

.registration-div {
  margin-top: 21px;
}

.registration-div button {
  width: 133px;
  height: 36px;
  margin-left: -4px;
}

.registration-div .registration {
  border-radius: 44px 0px 0px 44px;
  border: 1px solid var(--green);
  border-right: none;
  background: var(--white);
}

.registration-div .registration h2 {
  color: var(--dark-green);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.registration-div button:hover {
  background-color: var(--green);
}

.registration-div .registration:hover h2 {
  color: var(--white);
}

.registration-div .entry {
  border-radius: 0px 44px 44px 0px;
  border: 1px solid var(--green);
  background: var(--dark-green);
  border-left: none;
}

.registration-div .entry h2 {
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

form {
  margin-top: 29px;
  display: flex;
  flex-direction: column;
}

label[for="email"] {
  visibility: hidden;
  color: red;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 15px 8px;
}

form .input-field {
  height: 36px;
  width: 260px;
  padding-left: 6px;
  border-radius: 44px;
  border: 1px solid var(--dark-green);
  background: var(--white);
  flex-shrink: 0;
  color: var(--green);
}

.input-field::placeholder {
  color: var(--green);
}

.email-input {
  color: var(--green);
}
.email-input {
  &:invalid:not(:focus):not(:placeholder-shown) {
    border: 1px solid red;
    & ~ .error-message {
      visibility: visible;
    }
  }
}

#eye {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-40%);
  width: 24px;
}

.input-field-with-icon {
  position: relative;
}

.question {
  color: #000;
  margin-left: -2.5px;
  align-self: flex-start;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.question:hover {
  text-decoration: underline;
}

.switch {
  align-self: flex-start;
  margin-left: -4px;
  margin-top: 65px;
  display: flex;
}

.switch h2 {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.312px;
  margin-left: 12px;
}

.switch input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  cursor: pointer;
}

.switch input[type="checkbox"]::after {
  content: "";
  display: block;
  width: 33px;
  height: 20px;
  background-color: #bfbfbf;
  border-radius: 10px;
}

.switch input[type="checkbox"]:checked::before {
  left: 15px;
  background-color: var(--green);
}

.switch input[type="checkbox"]:not(:checked)::before {
  right: 15px;
  background-color: var(--dark-green);
}

.switch input[type="checkbox"]::before {
  content: "";
  display: block;
  position: absolute;
  top: -0rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}

.login {
  border: none;
  margin-top: 18px;
  width: 260px;
  height: 40px;
  border-radius: 44px;
  background: var(--dark-green);
}

.login h2 {
  text-align: center;
  color: var(--white);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.or-div {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 292px;
  margin-top: 25px;
  border-top: 1px solid var(--green);
}

.or {
  position: absolute;
  color: var(--green);
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 0.63px;
  text-transform: uppercase;
  transform: translateY(-40%);
  background-color: var(--white);
  padding: 0 20px;
}

.social-meida {
  margin-top: 30.75px;
}

.social-meida img {
  width: 38px;
}

.facebook {
  margin-right: 14px;
}
